body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
  
  .one {
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
    background-color: pink;
  }
  
  .two {
    padding: 18px;
    margin-top: 10px;
    background-color: pink;
  }
  
  .three {
    padding: 18px;
    text-align: center;
    background-color: pink;
    margin-top: 10px;
  }
  button{
    display: block;
    margin: 8px 24px;
    background-color: white;
    margin:auto;
    font-size: 25px;
  }
 